.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  font-family: 'Digital-7', sans-serif;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
}

.clockName {
  font-size: 80%;
}

.clockTime {
}
