.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  font-family: 'Digital-7', sans-serif;
  margin-bottom: 1rem;
  margin-right: 5rem;
  margin-left: 5rem;
  padding-bottom: 56.25%;
}

.clockName {
  font-size: 80%;
}

.clockTime {
}
